<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<h1 th:text="'Удалить пользователя ' + ${deletableUser.getName() + ' ' + deletableUser.getSurname() + '?'}">Delete user?</h1>
<br>
<form th:action="@{/users/{id}/delete(id=${deletableUser.getId()})}" method="post" class="form-example">
    
    <div hidden class="form-example">
        <label for="name">Введите своё имя: </label>
        <input type="text" maxlength="45" th:value="${deletableUser.getName()}" name="name" id="name" required>
    </div>
    <div hidden class="form-example">
        <label for="surname">Введите свою фамилию: </label>
        <input type="text" maxlength="45" th:value="${deletableUser.getSurname()}" name="surname" id="surname" required>
    </div>
    <div hidden class="form-example">.0
        <label for="age">Введите свой возраст: </label>
        <input type="number" max="100" th:value="${deletableUser.getAge()}" name="age" id="age" required>
    </div>

    <a th:href="@{/users/{id}(id=${deletableUser.getId()})}">
        <button type="button" style="background-color: #8dc073">Нет</button>
    </a>
    <br>
    <br>
    <div class="form-example">
        <input type="submit" style="background-color: #c07f73" value="Да">
    </div>
</form>
</body>
</html>