<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:action="@{/users/{id}/update(id=${updatableUser.getId()})}" method="post" class="form-example">
    <div class="form-example">
        <label for="name">Введите своё имя: </label>
        <input type="text" maxlength="45" th:value="${updatableUser.getName()}" name="name" id="name" required>
    </div>
    <br>
    <div class="form-example">
        <label for="surname">Введите свою фамилию: </label>
        <input type="text" maxlength="45" th:value="${updatableUser.getSurname()}" name="surname" id="surname" required>
    </div>
    <br>
    <div class="form-example">
        <label for="age">Введите свой возраст: </label>
        <input type="number" max="100" th:value="${updatableUser.getAge()}" name="age" id="age" required>
    </div>
    <br>
    <div class="form-example">
        <input type="submit" value="Обновить">
    </div>
</form>
</body>
</html>